pkgbase = tree-space
	pkgdesc = Dockable, keyboard-first file manager panel for Wayland/Hyprland
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/Eolu/tree-space
	install = tree-space.install
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = pkgconf
	makedepends = rust
	depends = gcc-libs
	depends = glibc
	depends = gtk4
	depends = gtk4-layer-shell
	depends = gstreamer
	depends = gst-plugins-base
	optdepends = gst-plugins-good: common audio and video codecs
	optdepends = gst-plugins-bad: additional audio and video codecs
	optdepends = gst-libav: FFmpeg-backed codecs
	optdepends = xdg-utils: xdg-mime / xdg-open integration
	optdepends = desktop-file-utils: update-desktop-database install hook
	provides = tree-space
	conflicts = tree-space-git
	source = tree-space-0.2.0.tar.gz::https://github.com/Eolu/tree-space/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = 80180a61710d527ab346789db336aacee74aa4aaf9a69b40bf8f5b88380e45dc

pkgname = tree-space
